<% include ../partials/header %>
<div class = "container">
    <div class = "row">
        <div class = "col-md-3">
            <div class = "list-group">

                <li class = "list-group-item active">Information about the Uploader</li>
                <style>
                        p {
                            text-emphasis-color: blue;
                            font-size: 100%;
                            font-style: bold;
                        }
                        .fa-phone {
                            color: green;
                        }
                        
                        </style>
                        
                        <h1><%= user.username %>'s profile</h1>
                        <% if(user.phone !== '') {%>
                        <h4> <i class = "fa fa-phone"><a href = "tel:<%= user.phone %>" class="phone"><p><%= user.phone %></p></a></i></h4>
                        <% } %>
                        
                        <a href="/follow/<%= user.id %>"><button class="btn btn-primary">Bookmark <%= user.username %> to get notifications..</button></a>
                        
                        <p>Click on the button to get notified of the posts from the uploader..</p>
                        
                <h1 class = "profile"><%= user.firstName + " " + user.lastName %></h1>
                <h3 class = "profile"> <%= user.username %>'s carts:</h3>
                <ul class = "profile">
                    <% carts.forEach(function(cart){%>
                    <li class = "profile"><a href = "/carts/<%= cart.id %>"><h3><%= cart.name %></h3></a></li>
                    <% }); %>

                </ul>

            </div>
        </div>
    </div></div>


<% include ../partials/footer %>